<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="mt-2">

    <div class="d-flex flex-column min-vh-100  align-items-center">
        <img src="/static/logo_menotti.png">

        <h2>
            Get your question answered
        </h2>
        <form class="" action="/ask" method="POST">
            <input type="search" name="query" id="query" placeholder="Ask question" size="100"required>

            <button class="btn btn-primary" name="search" id="search">🔎</button>
            <br>
            {% if error != "" %}
            <p style="color:red">{{ error }}</p>
            {% endif %}

            {{response}}
        </form>
    </div>


</body>

</html>